body {
    font-family: Arial, sans-serif;
    background-color: #000; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.form-container {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    color: white; 
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white; 
    font-weight: bold; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    background: transparent; 
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    color: white; 
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}

button {
    width: 100%;
    padding: 10px;
    background: transparent; 
    border: 1px solid white; 
    color: white; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease; 
}

button:hover {
    border-color: white;
    box-shadow: 0 0 10px white; 
}

p {
    color: #ddd; 
}

p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; 
}

p a:hover {
    text-decoration: underline;
    color: #ddd; 
}

.errorlist {
    color: red;
    margin-top: 5px;
}
